@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src";

$theme-colors: (
        "Failed": #b0b0b0,
        "NoPlay": #909090,
        "AssistEasy": #b0b0ff,
        "LightAssistEasy": #ffb0ff,
        "Easy": #d0ffd0,
        "Normal": #ffe0b0,
        "Hard": #ffb0b0,
        "ExHard": #ffffb0,
        "FullCombo": #b0ffff,
        "Perfect": #d0d0ff,
        "Max": #d0d0ff,

        "AAA": #ffffb0,
        "AA": #d0d0d0,
        "A": #d0b0b0,
        "B": #b0b0ff,
        "C": #b0ffb0,
        "D": #d0d0b0,
        "E": #b0b0d0,
        "F": #999999,
);

@each $value, $color in $theme-colors {
  @include table-row-variant($value, $color);
  @include bg-variant('.bg-#{$value}', $color);
  .table-line-#{$value} {
    &,
    > th,
    > td {
      border-bottom: 2px solid $color;
    }
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 300ms ease-out;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}

table.detail td {
  padding: 0.4rem;
  font-size: 0.9rem;
}

.vdp-datepicker__calendar {
  width: 240px !important;
  color: #000000;
}

